@import "~/shared/styles/main.scss";

//.btn-custom{
//    background-color:lightBlue;
//}
//
//.btn-apply{
//    background-color: black;
//    color: #ffffff;
//}
//
//.filterSelected{
//    background: lightblue;
//    border-color: lightblue lightblue lightblue lightblue   ;
//    border-width: 5 5 5 5;
//    border-radius: 15px;
//}
//
//.borders{
//    border-color: lightblue lightblue lightblue lightblue   ;
//    border-width: 5 5 5 5;
//    border-radius: 15px;
//}

.single-filter{
    @extend .card-general;
    radius: 20;

    .inner-card{
            padding: 15 20;

    }

    .icomoon {
        font-family: 'icomoon';
    }

    .item-icon{
        font-size: 20;
        //color:$icons-color;
      }

    //GridLayout{
    //    padding: 15 10;
    //}
}


