


// Colors


$primary-color: #FED800;
$primary-color-dark:#C6A700;
$primary-color-light:#FFFF53;

$secondary-color:#0026FE;
$secondary-color-dark:#0000C9;
$secondary-color-light:#7055FF;

$danger-color:#FE5900;
$success-color:#26FE00;
$icons-color:#CF9A5C;
$white:#FFFFFF;


$text-color-dark:#0C0C0E;
$text-color-gray:#57585A;
$text-color-light:#8489A3;
$text-color-vlight:#B7BBD0;
$text-color-white:#FFFFFF;

$background-color:#F8F8F8;

// Fonts
$font-family-regular:  ProximaNova-Regular;
$font-family-medium:  ProximaNova-SemiBold;
$font-family-bold:  ProximaNova-Bold;

.font-awesome{
  font-family: 'FontAwesome', fontawesome-webfont;
}

