
<StackLayout margin="2" id="view1" row="0" col="0">
        <Label margin="05" text="Favourite Items" class="h3"></Label>
        <ScrollView orientation="horizontal" scrollBarIndicatorVisible="false">
            <StackLayout orientation="horizontal" >
                
               <CardView  class="cardStyle" margin="05" elevation="0" radius="5" row="0" col="1" [nsRouterLink]="['/home']" *ngFor="let item of Favitems | async">
                    <GridLayout  rows="70,auto" columns="auto,auto" >
                        <StackLayout margin="10" row="0" col="0">
                            <Image  src="~/images/coffee/coffee.png"></Image>
                        </StackLayout>
                        <StackLayout margin="5" horizontalAlignment="center" row="1" col="0">
                            <Label [text]="item.name"></Label>
                        </StackLayout>
                    </GridLayout>
                </CardView>
            </StackLayout>
        </ScrollView>
</StackLayout>