<!--<StackLayout>-->
<!--<label class="h3" margin="10" horizontalAlignment="center"-->
<!--text="{{seletedItem | async}}"></label>-->

<!--<Label class="h3" margin="10" horizontalAlignment="center"-->
<!--text="{{seletedShop | async}}"></Label>-->

<!--<Label class="h4" margin="10" text="AED {{selectedRate | async}}" horizontalAlignment="center"></Label>-->

<!--<Label text="Selected Options" margin="10" class="h4" ></Label>-->
<!---->
<!--<item-filters [filters]="selectedFilters" [showActionButtons]="false" > </item-filters>-->

<!--</StackLayout>-->
<app-action-bar title="Confirm Selection"></app-action-bar>

<StackLayout orientation="vertical" class="mainpage">
    <GridLayout rows="*, 120">

        <ScrollView row="0" orientation="vertical" class="inner-scroll-page">
            <StackLayout orientation="vertical">


                <GridLayout columns="60, *" rows="auto" class="edit-button">
                    <Label col="0" row="0" class="font-awesome text-center edit-icon" text="&#xf040;"></Label>
                    <Label col="1" row="0" class="text-center edit-text" text="{{seletedItem | async}}"></Label>
                </GridLayout>

                <GridLayout columns="60, *" rows="auto" class="edit-button">
                    <Label col="0" row="0" class="font-awesome text-center edit-icon" text="&#xf040;"></Label>
                    <Label col="1" row="0" class="text-center edit-text" text="{{seletedShop | async}}"></Label>
                </GridLayout>


                <item-filters [filters]="selectedFilters" [showActionButtons]="false"></item-filters>
            </StackLayout>

        </ScrollView>



        <StackLayout row="1" orientation="vertical" verticalAlignment="bottom" class="action-bar-bottom">

            <GridLayout columns="*, *, *, *" rows="auto" marginBottom="25">

                <Label text="Item Price : " row="0" col="0" class="label-text-gray text-left"></Label>
                <Label text="AED {{selectedRate | async}}" row="0" col="1" class="body-text text-left"></Label>

                <Label text="Item Subtotal : " row="0" col="2" class="label-text-gray text-right"></Label>
                <Label text="AED 100" row="0" col="3" class="body-text text-right"></Label>

            </GridLayout>

            <StackLayout orientation="vertical" class="page">
                <Button text="Add to Cart" tap="{{ onButtonTap }}" class="btn-block" marginBottom="20"></Button>
            </StackLayout>


        </StackLayout>


    </GridLayout>
</StackLayout>