@import "~/shared/styles/main.scss";

.singleItem{
    @extend .card-general;
    margin: 5;
    width: 110;

    GridLayout{
        padding: 10 10;


        Image{
            height: 50;
        }
        .item-icon{
            font-size: 50;
            color:$icons-color;
        }

        .item-name-label{
            width: 100%;
            @extend .button-text;

            //background-color: red;
        }

        .item-location-label{
            @extend .label-text-gray;
        }
    }
}