<ScrollView orientation="horizontal" height="auto">
<StackLayout orientation="horizontal">
    <CardView class="singleItem" *ngFor="let item of data;" [nsRouterLink]="['/selection',item.id]" (tap)="getSelectedName(item.name)"  >

      <StackLayout >
          <GridLayout rows="60,*,*" columns="*">
              <StackLayout col="0" row="0">
                  <Image src="~/images/coffee/coffee.png"></Image>
              </StackLayout>
              <StackLayout col="0" row="1" >
                  <Label  [text]="item.name" textWrap="false" class="item-name-label text-center"></Label>
              </StackLayout>
              <StackLayout col="0" row="2" >
                  <Label  text="The Stables" textWrap="false" class="item-location-label text-center"></Label>
              </StackLayout>
          </GridLayout>
      </StackLayout>
    </CardView>
</StackLayout>
</ScrollView>