<!--<StackLayout margin="2"  orientation="vertical" *ngIf="categories | async as categories">
    <Label [text]="categories.category" horizontalAlignment="center" class="h3"></Label>
    <StackLayout *ngFor="let items of categories.products">
    <Label [text]="items.name" row="0" col="0" verticalAlignment="top"></Label>
    </StackLayout>
</StackLayout>-->


<StackLayout margin="2" row="0" col="0" *ngIf="categories | async as categories">
    <Label margin="05" [text]="categories.category" class="h3"></Label>
    <ScrollView orientation="horizontal" scrollBarIndicatorVisible="false">
        <StackLayout orientation="horizontal">

            <CardView id="viewDrinks" class="cardStyle" margin="05" elevation="0" radius="5" row="0" col="1" *ngFor="let items of categories.products"
                (tap)="getProductInfo(items.id,1);">
                <GridLayout rows="70,auto" columns="auto,auto">
                    <StackLayout margin="10" row="0" col="0">
                        <Image src="~/images/coffee/coffee.png"></Image>
                    </StackLayout>
                    <StackLayout margin="5" horizontalAlignment="center" row="1" col="0">
                        <Label [text]="items.name"></Label>
                    </StackLayout>
                </GridLayout>
            </CardView>

        </StackLayout>
    </ScrollView>

    <StackLayout orientation="vertical" *ngIf="product | async as product">
        <StackLayout  *ngIf="genericProperties | async as genericProperties">
                
                    
                
        </StackLayout>
        <!--<StackLayout >
            <Label horizontalAlignment="Center" text="product.generic_properties.property_group"  padding="10"></Label>
            <StackLayout *ngFor="let items of product.shops" padding="5">
                <StackLayout *ngFor="let item of items.properties" padding="5">
                    <Button class="btn btn-outline btn-active" [text]="item.property" (tap)="getProductInfo(product.id,item.generic_id)"></Button>
                </StackLayout>



            </StackLayout>
        </StackLayout>-->
        <StackLayout>
            <ScrollView orientation="Vertical" scrollBarIndicatorVisible="false">
                <StackLayout>

                    <CardView class="cardStyleShop" margin="05" elevation="0" radius="5" row="0" col="1" *ngFor="let items of product.shops">
                        <GridLayout rows="120, auto, auto,auto" columns="*, *">
                            <Image src="~/images/shop.jpg" stretch="aspectFill" margin="02" colSpan="2" row="0"></Image>
                            <Label [text]="items.shop.name" class="info" textWrap="true" margin="10" row="1" colSpan="2" horizontalAlignment="center"></Label>

                            <Label [text]="'AED ' + items.base_price" class="info" textWrap="true" margin="10" row="2" colSpan="2" horizontalAlignment="left"></Label>

                        </GridLayout>
                    </CardView>
                </StackLayout>
            </ScrollView>
        </StackLayout>
    </StackLayout>
</StackLayout>