<app-action-bar title="Select Options"></app-action-bar>

<StackLayout class="page">
    <AbsoluteLayout>
        <!--<GridLayout rows="*,120" minHeight="500">-->

        <!--<StackLayout orientation="vertical" backgroundColor="lightgray" width="100%">-->

        <GridLayout rows="auto, auto" row="0" width="100%" height="100%">

            <ScrollView row="0" orientation="vertical" id="filterlist">

                <StackLayout orientation="vertical">

                    <!--<label class="h3 p-15" horizontalAlignment="center"-->
                    <!--[text]="selectedItem | async"></label>-->
                    <!---->
                    <!--<Label horizontalAlignment="center" text="Filters"></Label>-->

                    <item-filters [filters]="genericProperties_values" [showActionButtons]="false"></item-filters>

                </StackLayout>
            </ScrollView>

            <StackLayout row="1" id="locationList" width="auto" class="location-list">

                <!--<GridLayout rows="auto,{{shopListHeight}}">-->


                <StackLayout class="seperator-10"></StackLayout>
                <GridLayout verticalAlignment="center" row="0">
                    <Label text="Select an Outlet" class="h4 text-center"></Label>
                    <Label [text]="locationListSize.length + ' results'" class="label-text-gray text-right"></Label>

                </GridLayout>
                <StackLayout orientation="vertical" [height]="shopListHeight/1.45">

                    <ScrollView orientation="vertical" row="1">
                        <StackLayout orientation="vertical">
                            <location-list [Locations]="locationList | async"
                                           [filteredShops]="filteredShops"></location-list>
                            <Button text="Load More" (tap)="loadMore()" *ngIf="!noMoreShops"></Button>


                        </StackLayout>

                    </ScrollView>

                </StackLayout>



                <!--</GridLayout>-->


            </StackLayout>

        </GridLayout>

        <!--</StackLayout>-->


        <!--</GridLayout>-->


        <StackLayout id="floatingButton" row="1" orientation="horizontal" horizontalAlignment="center"
                     width="100%"
                     marginTop="90%"
                     (tap)="animate();animateFor = !animateFor">

            <button text="&#xf062;" class="btn-circle font-awesome" (tap)="animate();animateFor = !animateFor"></button>

        </StackLayout>


    </AbsoluteLayout>


</StackLayout>

