<StackLayout class="page">

    <app-action-bar title="Select Options"></app-action-bar>

    <GridLayout rows="auto,700,auto">

        <ScrollView row="0" orientation="vertical" height="auto">

            <StackLayout height="auto" orientation="vertical">

                <!--<label class="h3 p-15" horizontalAlignment="center"-->
                <!--[text]="selectedItem | async"></label>-->
                <!---->
                <!--<Label horizontalAlignment="center" text="Filters"></Label>-->

                <item-filters [filters]="genericProperties_values" [showActionButtons]="false"></item-filters>

            </StackLayout>
        </ScrollView>


        <StackLayout row="1" id="view1" width="auto" class="location-list">
            <StackLayout class="seperator-10"></StackLayout>

            <GridLayout height="30" verticalAlignment="center">
                <Label text="Select an Outlet" class="h4 text-center"></Label>
                <Label [text]="locationListSize.length + ' results'"  class="label-text-gray text-right"></Label>

            </GridLayout>

            <ScrollView orientation="vertical" height="auto" >
                <GridLayout rows="350" class="locations">
                    <location-list row="0" [Locations]="locationList | async"
                                   [filteredShops]="filteredShops"></location-list>
                </GridLayout>


            </ScrollView>

        </StackLayout>


        <StackLayout id="floatingButton" height="auto" row="2" orientation="horizontal" horizontalAlignment="center" width="100%" (tap)="animate();animateFor = !animateFor">

            <!--<button text="&#xf062;" class="btn-circle font-awesome" (tap)="animate();animateFor = !animateFor"></button>-->


        </StackLayout>



    </GridLayout>


</StackLayout>

