
        <StackLayout  orientation="vertical">
            <scroll-view>
                <ActionBar title="Home">
                    <ActionItem  ios.position="left" (tap)="openDrawer()"  >
                        <Button text="&#xf0c9;" class="font-awesome" ></Button>
                    </ActionItem>
                    <ActionItem  ios.position="true" >
                        <Button  text="&#xf007;"  class="font-awesome" ></Button>
                    </ActionItem>
                </ActionBar>
                <StackLayout margin="1" verticalAlignment="top"  >
                    <StackLayout margin="2" >
                        <StackLayout *ngIf="!show">
                            <GridLayout class="m-10" rows="90" columns="*,*" >
                                <CardView    class="cardStyle" margin="05" elevation="0" radius="5" row="0" col="0" (tap)="animateForDrink('1')">
                                    <StackLayout >
                                        <GridLayout rows="50,40" columns="auto,auto" horizontalAlignment="center">
                                            <StackLayout  margin="5" col="0" row="0">
                                                <Image src="~/images/coffee/coffee.png"></Image>
                                            </StackLayout>
                                            <StackLayout col="0" row="1" >
                                                <Label  text="Grab a Drink" textWrap="true" ></Label>
                                            </StackLayout>
                                        </GridLayout>
                                    </StackLayout>
                                </CardView>
                                <CardView  class="cardStyle" margin="05" elevation="0" radius="5" row="0" col="1" (tap)="animateForEat('2')">
                                    <StackLayout>
                                        <GridLayout rows="50,40" columns="auto,auto" horizontalAlignment="center">
                                            <StackLayout  margin="5" col="0" row="0">
                                                <Image src="~/images/coffee/menu.png"></Image>
                                            </StackLayout>
                                            <StackLayout col="0" row="1" >
                                                <Label  text="Eat Something" textWrap="true" ></Label>
                                            </StackLayout>
                                        </GridLayout>
                                    </StackLayout>
                                </CardView>
                            </GridLayout>
                        </StackLayout>
                    </StackLayout>
                    <StackLayout >
                    <GridLayout rows="*,*,*" columns="*" >
                    <favourite-product-component ></favourite-product-component>
                    <product-builder-component *ngIf="show" [builder]="selectedProduct"></product-builder-component>
                    <most-product-component ></most-product-component>
                    <Button text="X"  *ngIf="show" class="my-button" style="horizontal-align:right;" verticalAlignment="top" (tap)="closeAnimation()"></Button>
                    </GridLayout>
                    </StackLayout>
                    <shop-list-component></shop-list-component>
                    
                    <StackLayout *ngFor="let item of posts | async">
                        <Label [text]="item.title"></Label>
                    </StackLayout>
                </StackLayout>
            </scroll-view>
        </StackLayout>
  
    