
        <StackLayout  orientation="vertical">
                <ActionBar title="Home">
                </ActionBar>
                <ScrollView>
                <StackLayout margin="1" verticalAlignment="top"  >
                    <StackLayout margin="2" >
                        <StackLayout *ngIf="!show">
                            <GridLayout class="m-10" rows="90" columns="*,*" >
                                <CardView    class="cardStyle" margin="05" elevation="0" radius="5" row="0" col="0" (tap)="routeToSelectItem()">
                                    <StackLayout >
                                        <GridLayout rows="50,40" columns="auto,auto" horizontalAlignment="center">
                                            <StackLayout  margin="5" col="0" row="0">
                                                <Image src="~/images/coffee/coffee.png"></Image>
                                            </StackLayout>
                                            <StackLayout col="0" row="1" >
                                                <Label  text="Grab a Drink" textWrap="true" ></Label>
                                            </StackLayout>
                                        </GridLayout>
                                    </StackLayout>
                                </CardView>
                                <CardView  class="cardStyle" margin="05" elevation="0" radius="5" row="0" col="1" >
                                    <StackLayout>
                                        <GridLayout rows="50,40" columns="auto,auto" horizontalAlignment="center">
                                            <StackLayout  margin="5" col="0" row="0">
                                                <Image src="~/images/coffee/menu.png"></Image>
                                            </StackLayout>
                                            <StackLayout col="0" row="1" >
                                                <Label  text="Eat Something" textWrap="true" ></Label>
                                            </StackLayout>
                                        </GridLayout>
                                    </StackLayout>
                                </CardView>
                            </GridLayout>
                        </StackLayout>
                    </StackLayout>
                    <StackLayout margin="10">
                        <Label text="Most Ordered" class="h3"></Label>
                        <item-swiper [data]="products" ></item-swiper>
                    </StackLayout>
                    <StackLayout margin="10">
                            <Label text="Fav Items" class="h3"></Label>
                            <item-swiper [data]="products" ></item-swiper>
                        </StackLayout>
                    <StackLayout >
                        <location-list [Locations]="locations" [filteredShops]=""></location-list>
                    </StackLayout>
                </StackLayout>
            </ScrollView>
        </StackLayout>
  
    