@import "~/shared/styles/main.scss";


.singleItem{
  @extend .card-general;
  margin: 10;
  //width: 110;

  Image{
    height: 50;
    margin: 10;
  }
  Label{
    @extend .button-text;
  }

  .item-icon{
    font-size: 50;
    color:$icons-color;
  }

  .item-name-label{
    width: 100%;
    @extend .button-text;
    //background-color: red;
  }

  .item-location-label{
    @extend .label-text-gray;
  }
}