<GridLayout class="page">
  <GridView [items]="data" colWidth="45%" rowHeight="100">
    <ng-template let-item="item" let-odd="odd">
      <StackLayout margin="10"  (tap)="getSelectedName(item.name)" [nsRouterLink]="['/selection', item.id]" borderColor="blue" borderWidth="2" borderRadius="5" verticalAlignment="stretch" class="list-group-item" [class.odd]="odd">
        <Label verticalAlignment="center" [text]="item.name" class="list-group-item-text" textWrap="true"></Label>
      </StackLayout>
    </ng-template>
  </GridView>
</GridLayout>