<ActionBar title="Home"></ActionBar>

<!--<GridLayout class="page">-->

<GridLayout  orientation="vertical" class="page">


  <GridView [items]="data" colWidth="33%" rowHeight="120">


    <ng-template let-item="item" let-odd="odd">


        <CardView class="singleItem" shadowOffsetWidth="0" shadowOffsetHeight="0"  [nsRouterLink]="['/selection',item.id]"  >

          <StackLayout >
              <GridLayout rows="60,*" columns="*">
                  <StackLayout col="0" row="0">
                      <Image src="~/images/coffee/coffee.png"></Image>
                  </StackLayout>
                  <StackLayout col="0" row="1"  >
                      <Label  [text]="item.name" marginTop="15" textWrap="false" class="item-name-label text-center"></Label>
                  </StackLayout>
              </GridLayout>
          </StackLayout>
        </CardView>



    </ng-template>

  </GridView>
<!--</GridLayout>-->

  </GridLayout>
