<GridLayout columns="auto" rows="auto">

    <!--<WebView col="0" row="0" id="webViewID" (loadStarted)="onLoadStarted()" (loadFinished)="onLoadFinished()" src="https://codepen.io/anon/pen/wENPmY"></WebView>-->
    <!--<WebView col="0" row="0" id="webViewID" (loadStarted)="onLoadStarted()" (loadFinished)="onLoadFinished()" src="./splashscreen/index.html"></WebView>-->
    <!--<WebView col="0" row="0" id="webViewID" (loadStarted)="onLoadStarted()" (loadFinished)="onLoadFinished()" [src]="webViewSrc"></WebView>-->


    <!--<WebView col="0" row="0" id="webViewID" (loadStarted)="onLoadStarted()" (loadFinished)="onLoadFinished()" src="https://www.google.com/"></WebView>-->




</GridLayout>