<StackLayout margin="2">
    <Label margin="05" text="Cafes" class="h2"></Label>
    <ScrollView orientation="vertical" scrollBarIndicatorVisible="false">
        <StackLayout orientation="vertical">
            <CardView class="cardStyleShop" margin="05" elevation="0" radius="5" row="0" col="1" [nsRouterLink]="['/home']" *ngFor="let item of AllShops | async">
                <GridLayout rows="120, auto, auto" columns="*, *" >
                    <Image src="~/images/shop.jpg" stretch="aspectFill" margin="02" colSpan="2" row="0" ></Image>
                    <Label [text]="item.name" class="info" textWrap="true" margin="10" row="1" colSpan="2" horizontalAlignment="center" ></Label>
                </GridLayout>
            </CardView>
            
        </StackLayout>
    </ScrollView>
</StackLayout>