@import "~/shared/styles/main.scss";

.single-outlet-location{
    margin: 5;
    @extend .card-general;
    Image{
        height: 80;
        width: 80;
        padding: 10;
    }

    .single-outlet-location-label-list{
        margin-top: 15;

        Label{
            @extend .body-text;
        }

        .single-outlet-location-title{
            @extend .h5;
        }

        .single-outlet-location-label{
            @extend .label-text-gray;
        }

        .single-outlet-location-price{
            color:$secondary-color-light;
        }
    }



    .action-buttons{

        .icomoon{
            font-size: 30;
        }

        .heart-icon{
            color: $danger-color;
            .inner-label{
                font-size: 18;

            }

            .hexagon{
                color: $danger-color;
            }
        }

        .rating-icon{
            color: $white;
            .hexagon{
                color: $secondary-color-light;
            }
        }


        .inner-label{
            font-size: 15;
            margin-top: 7;
            //margin-left: 9;
        }

        .location-icon{
            color: $white;

            .hexagon{
                color: $secondary-color;
            }
        }


        .single-icon{
            padding: 2;
            margin-top: 5;
            margin-right: 5;
        }



    }



}